.dropdown{
    outline: none;
    width: 100%;
    font-family: inherit;
    text-align: left;
    -webkit-appearance: none;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    border-radius: 6px;
    min-height: 60px;
    padding: 13px 20px;
    border: 1px solid var(--bg-light);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: var(--font-color);
    background-color: var(--bg-grey);
}

.error{
    font-size: 12px;
    padding-left: 25px;
    margin-top: 5px;
    background-color: rgb(255, 138, 138);
    border-radius: 8px;

}