<div class="w3l-contact-10 py-5" id="contact">
  <div class="form-41-mian py-lg-5 py-md-4 py-2">
    <div class="container">
      <div class="contacts-5-grid-main mt-4">
        <div class="header-title text-center mx-auto">
          <h3 class="title-w3l">Mamun</h3>
          <p class="mb-5">Data Processing Task</p>
        </div>
        <div class="form-inner-cont">
          <form method="post" class="signin-form">
            <div class="form-grids">
              <div class="form-input" data-aos="fade-down">
                <label for="file1">Pick first file</label>
                <p-fileUpload id="file1" name="file1" accept=".csv" [customUpload]="true" [auto]="true" (uploadHandler)="uploadFirstFile($event)"></p-fileUpload>
                <div *ngIf="!file1 && submitted" class="error">Please select the first file</div>
              </div>
              <div class="form-input" data-aos="fade-down">
                <label for="file2">Pick second file</label>
                <p-fileUpload id="file2" name="file2" accept=".csv" [customUpload]="true" [auto]="true" (uploadHandler)="uploadSecondFile($event)"></p-fileUpload>
                <div *ngIf="!file2 && submitted" class="error">Please select the second file</div>
              </div>

              <div class="form-input" data-aos="fade-down">
                <label for="dropdown">Collation policy</label>
                <p-dropdown class="dropdown" [options]="collationOptions" accept=".csv" [(ngModel)]="selectedCollationOption" optionLabel="label" name="option" [showClear]="true" placeholder="Select a Collation option" id="dropdown"></p-dropdown>
                <div *ngIf="!selectedCollationOption && submitted" class="error">Please select collation policy</div>
              </div>
              <div class="form-input" data-aos="fade-down">
                <label for="numberOfLines">Number of lines to process</label>
                <input type="number" [(ngModel)]="numberOfLines" name="numberOfLines" id="numberOfLines">
                <div *ngIf="!numberOfLines && submitted" class="error">Please select number of lines</div> 
              </div>
              <div class="form-input " data-aos="fade-down">
                <label for="numberOfLines">Download</label>
                <p-checkbox [(ngModel)]="download" name="download" [binary]="true" inputId="binary"></p-checkbox>
              </div>
              <div></div>

              <div class="form-input">
                <textarea name="Message" [(ngModel)]="resultFile" name="resultFile" required=""></textarea>
              </div>
              
            </div>
            <!-- <div class="form-input">
              <textarea name="Message" placeholder="Type your query here" required=""></textarea>
            </div> -->
            <div class="text-center mt-3">
              <button class="btn btn-style btn-primary" (click)="processData()">Submit Now</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <p-toast style="z-index: 9999;"></p-toast>
</div>


